<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autodesk.easyhome.shejijia">


    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <!--极光推送开始-->
    <permission
        android:name="com.autodesk.easyhome.shejijia.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.autodesk.easyhome.shejijia.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--极光推送结束-->


    <application
        android:name="com.autodesk.easyhome.shejijia.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.autodesk.easyhome.shejijia.SplashActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--微信支付 start-->
        <activity
            android:name="com.autodesk.easyhome.shejijia.wxapi.WXPayEntryActivity"
            android:label="微信支付">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxfd04ee1c78a46319" />
            </intent-filter>
        </activity>
        <!-- 微信支付 end-->


        <!-- 支付宝支付开始 start -->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <!-- 支付宝支付开始结束 end-->


        <activity
            android:name="com.autodesk.easyhome.shejijia.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.home.activity.AppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.home.activity.SelectAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.home.activity.OrderPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.home.activity.ServiceTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.home.activity.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.home.activity.ClassificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.order.activity.EvaluateActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.order.activity.OrderNewPaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.campaign.activity.TopUpActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.autodesk.easyhome.shejijia.mine.activity.ChangePhoneActivity" />
        <activity android:name="com.autodesk.easyhome.shejijia.mine.activity.FeedBackActivity" />
        <activity android:name="com.autodesk.easyhome.shejijia.mine.activity.MoreSettingActivity" />
        <activity android:name="com.autodesk.easyhome.shejijia.mine.activity.MineOrderActivity" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.order.activity.CouponActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.autodesk.easyhome.shejijia.home.activity.ProjectDetailsActivity"
            android:screenOrientation="portrait" />


        <activity android:name="com.autodesk.easyhome.shejijia.register.activity.RegisterActivity" />
        <activity android:name="com.autodesk.easyhome.shejijia.login.activity.LoginForPwdActivity" />
        <activity android:name="com.autodesk.easyhome.shejijia.login.activity.LoginForCodeActivity" />
        <activity android:name="com.autodesk.easyhome.shejijia.register.activity.ForgetPwdActivity"></activity>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.lidong.photopicker.PhotoPickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/PhotoPickerTheme" />
        <activity
            android:name="com.lidong.photopicker.PhotoPreviewActivity"
            android:theme="@style/PhotoPickerTheme" />


        <!--极光推送开始-->

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.autodesk.easyhome.shejijia" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- Required SDK-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.autodesk.easyhome.shejijia" />
            </intent-filter>
        </activity>

        <!-- Required SDK-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <!-- Required SDK-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="dedf43229e69ed908c8e7bc0" /> <!--  </>值来自开发者平台取得的AppKey-->




        <!--极光推送结束-->
    </application>

</manifest>