<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lidong.photopicker" >
    <application android:allowBackup="true">
        <activity
            android:name="com.lidong.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lidong.photopicker.PhotoPreviewActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
